.RunningLogListItem {
    background-color: white;
}

.RunningLogListItem:hover {
    background-color: lightcyan;
}

.RunningLogListItemClicked {
    background-color: lightcyan;
}

.RunningLogListItemFailed {
    color: crimson;
}

.RunningLogListItem div {
    /*text-decoration: none;*/
    cursor: pointer;
}

.RunningLogListItem a:link {
    /*text-decoration: none;*/
    color: inherit;
    cursor: pointer;
}

.RunningLogListItemClicked div {
    cursor: pointer;
}

.RunningLogListItemNumeric {
    text-align: center;
}

/*.RunningLogListItemCheckMark {*/
/*    text-align: center;*/
/*    font-size: larger;*/
/*}*/
