.RunningLogListItem {
    background-color: white;
}

.RunningLogListItem:hover {
    background-color: lightcyan;
}

.RunningLogListItemClicked {
    background-color: lightcyan;
}

.RunningLogListItem a {
    text-decoration: none;
    /*text-decoration-color: azure;*/
}

.RunningLogListItem a:link {
    text-decoration: none;
    color: inherit;
}

.RunningLogListItemNumeric {
    text-align: center;
}

.RunningLogListItemJobName {
    width: 40%;
    max-width: 40%;
}


.RunningLogListItemNumActions {
    width: 10%;
}

.RunningLogListItemNumLayers {
    width: 10%;
}

.RunningLogListItemRunningTime {
    width: 20%;
}
