.RunningLogListItem {
    background-color: white;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.RunningLogListItem:hover {
    background-color: rgba(147, 128, 115, 0.1);
    /*background-color: #f9f9f9;*/
}

.RunningLogListItemClicked {
    background-color: lightcyan;
}

.RunningLogListItemFailed {
    color: crimson;
}

.RunningLogListItem div {
    /*text-decoration: none;*/
    cursor: pointer;
}

.RunningLogListItem a:link {
    /*text-decoration: none;*/
    color: inherit;
    cursor: pointer;
}

.RunningLogListItemClicked div {
    cursor: pointer;
    color: cornflowerblue;
}

.RunningLogListItemNumeric {
    text-align: center;
}

.RunningLogListItemClickable {
    color: cornflowerblue;
}

.RunningLogListItemCheckMarkClicked {
    color: #303232;
    text-align: center;
    /*font-size: larger;*/
    padding-right: 0.3em;
}

.RunningLogListItemCheckMarkNotClicked {
    color: rgba(147, 128, 115, 0.5);
    text-align: center;
    /*font-size: larger;*/
    padding-right: 0.3em;
}

.RunningLogListItemCheckMarkNotClicked:hover {
    /*color: rgba(147, 128, 115, 0.5);*/
    color: #303232;
    text-align: center;
    /*font-size: larger;*/
    padding-right: 0.3em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
